.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightblue;
  text-align: center;
}

h1 {
  margin: 0;
  background-color: lightcoral;
  width: 100%;
}

h2 {
  margin-top: 20px;
  background-color: lightgreen;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
}

.queens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
